include LICENSE
include README.md
include setup.py
include Makefile
include pyproject.toml
include ext/**/*
include src/**/*

exclude .dockerignore
exclude .gitignore
exclude .vscode/**/*
exclude CMakeLists.txt
exclude Logo.png
exclude MANIFEST.in
exclude Makefile
exclude examples/**/*
exclude tests/**/*